<article>
    <section class="notes">
        <mat-card *ngFor="let userNote of notes; let i = index;">
            <mat-card-title>Note {{i+1}}</mat-card-title>
            <mat-card-subtitle>{{userNote.date | date: 'short' }}</mat-card-subtitle>
            <mat-card-content>
                <p>{{userNote.text}}</p>
            </mat-card-content>
        </mat-card>
    </section>
    <section>
        <mat-form-field appearance="outline">
            <mat-label>Health Note</mat-label>
            <input matInput placeholder="Add your health note" [(ngModel)]="note" name="note">
        </mat-form-field>
        <button mat-raised-button mat color="primary" (click)="saveNote()"> Save Note</button>
    </section>
</article>