<article>
    <img class="hero" src="../../assets/undraw_medicine_b1ol.svg">

    <!-- <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" type="password">
    </mat-form-field> -->
    <p>Use the Health Notes App to track the symptoms for your next doctor's appointment.</p>
    <button mat-raised-button mat color="primary" (click)="startApp()"> Get Started </button>
</article>